nav {   
    width: 100%;
    background-color: rgb(38, 38, 204);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.listado {
    font-size: 1.6rem;
    margin: 10px;
    list-style: none;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}